@model IEnumerable<TripsBlogProject.Models.Post>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Posts</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Country)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Place)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Image)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            <a href="Countries/Details/@item.Country.CountryId">
                @item.Country.Name
            </a>
            @Html.ActionLink(item.Country.Name, "Details", "Countries", new { id = item.Country.CountryId })
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Place)
        </td>
        
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @if (item.Image != null) { 
                <img src="~/Images/@item.Image"/>
            }
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { id = item.PostId })
            @if (this.User.Identity.Name == item.Author.UserName) { 
            @*@Html.ActionLink("Edit", "Edit", new { id=item.PostId }) 
                <br/>*@
            
                <br />
            @Html.ActionLink("Delete", "Delete", new { id=item.PostId })
            }
        </td>
    </tr>
}
</table>
